
body {
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1rem;
    color: var(--dark);
  }

hr{
  height: 2px;
  background-color: var(--primary);
  border: none;
}

h2{
  font-size: 2.2rem;
}

h3{
  position: relative;
  text-align: start;
  width: fit-content;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3::after{
  content: "";
  position: absolute;
  top: 25px;
  left: 5px;
  width: 80px;
  border-bottom: 2px solid var(--primary);
}

.lastP{
    margin-bottom: 0px;
    padding-bottom: 15px;
}

[data-desc]{
  opacity: 0.8;
  font-style: italic;
  position: relative;
}

[data-desc]:hover::after, [data-desc]:focus::after{
  content: attr(data-desc);
  font-style: normal;
  position: absolute;
  padding: 3px;
  left: 0px;
  top: 20px;
  color: var(--light);
  background-color: var(--primary);
  border-radius: 5px;
  min-width: 200px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

figcaption {
  text-align: center;
}

.container{
  margin: auto;
  width: 85%;
}

.topRound{
  text-align: center;
  background-color: var(--sectBack);
  border-left: 5px solid var(--sectBorder);
  border-right: 5px solid var(--sectBorder);
}

@media screen and (min-width: 530px){
  .topRound{
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
  }    
}