.containertourisme {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

section {
    margin: 3px;
}

.articletour {
    background-color: #FFE5CC;
    padding: 1% 2%;
    box-sizing: border-box;
    flex-basis: 23%;
    text-align: center;
}